html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.searchable{
  background-color: #d7d7d7 !important;
  display: flex !important;
  padding: 8px 10px !important;
  color:black !important;
  border: 1px solid white;
  z-index: 1000;
}
.searchable:hover{
  text-decoration: none;
  cursor: default;
}
.searchable-list{
  z-index: 1000;
  position: absolute;
  width: 90%;
}